# ── Archives ──────────────────────────────────────────────────────────────────
*.zip

 

# ── Python ────────────────────────────────────────────────────────────────────
bootstrap/__pycache__/
__pycache__/
*.py[cod]

# ── Virtual environment ───────────────────────────────────────────────────────
venv/
.venv/
.env/

